In [1]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np

In [32]:
EarthQuake_df = pd.read_csv('C:/Users/User/Desktop/Tableau/EarthQuakeDataBase.csv')
EarthQuake_df

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,10 ^ Magnitude,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,1/2/1965,13:44:18,19.2460,145.6160,Earthquake,131.60,NaN,NaN,6.0,1.000000e+06,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,1/4/1965,11:29:49,1.8630,127.3520,Earthquake,80.00,NaN,NaN,5.8,6.309573e+05,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,1/5/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,NaN,NaN,6.2,1.584893e+06,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,1/8/1965,18:49:43,-59.0760,-23.5570,Earthquake,15.00,NaN,NaN,5.8,6.309573e+05,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,1/9/1965,13:32:50,11.9380,126.4270,Earthquake,15.00,NaN,NaN,5.8,6.309573e+05,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,8:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,3.981072e+05,...,18.0,42.47,0.120,NaN,0.1898,NN00570710,NN,NN,NN,Reviewed
23408,12/28/2016,9:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,3.162278e+05,...,18.0,48.58,0.129,NaN,0.2187,NN00570744,NN,NN,NN,Reviewed
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,7.943282e+05,...,NaN,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,1.995262e+06,...,NaN,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,3.162278e+05,...,428.0,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed

In [33]:
EarthQuake_df.isnull()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,10 ^ Magnitude,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
1,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
2,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
3,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
4,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
23408,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
23409,False,False,False,False,False,False,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
23410,False,False,False,False,False,False,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
23411,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [34]:
len(EarthQuake_df.index)-EarthQuake_df.count()

Date                              0
Time                              0
Latitude                          0
Longitude                         0
Type                              0
Depth                             0
Depth Error                   18951
Depth Seismic Stations        16315
Magnitude                         0
10 ^ Magnitude                    0
Magnitude Type                    3
Magnitude Error               23085
Magnitude Seismic Stations    20848
Azimuthal Gap                 16113
Horizontal Distance           21808
Horizontal Error              22256
Root Mean Square               6060
ID                                0
Source                            0
Location Source                   0
Magnitude Source                  0
Status                            0
dtype: int64

In [35]:
EarthQuake_df.fillna(0)

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,10 ^ Magnitude,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,1/2/1965,13:44:18,19.2460,145.6160,Earthquake,131.60,0.0,0.0,6.0,1.000000e+06,...,0.0,0.00,0.000,0.0,0.0000,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,1/4/1965,11:29:49,1.8630,127.3520,Earthquake,80.00,0.0,0.0,5.8,6.309573e+05,...,0.0,0.00,0.000,0.0,0.0000,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,1/5/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,0.0,0.0,6.2,1.584893e+06,...,0.0,0.00,0.000,0.0,0.0000,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,1/8/1965,18:49:43,-59.0760,-23.5570,Earthquake,15.00,0.0,0.0,5.8,6.309573e+05,...,0.0,0.00,0.000,0.0,0.0000,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,1/9/1965,13:32:50,11.9380,126.4270,Earthquake,15.00,0.0,0.0,5.8,6.309573e+05,...,0.0,0.00,0.000,0.0,0.0000,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,8:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,3.981072e+05,...,18.0,42.47,0.120,0.0,0.1898,NN00570710,NN,NN,NN,Reviewed
23408,12/28/2016,9:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,3.162278e+05,...,18.0,48.58,0.129,0.0,0.2187,NN00570744,NN,NN,NN,Reviewed
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,0.0,5.9,7.943282e+05,...,0.0,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,0.0,6.3,1.995262e+06,...,0.0,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,0.0,5.5,3.162278e+05,...,428.0,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed

In [36]:
EarthQuake_df.dtypes

Date                           object
Time                           object
Latitude                      float64
Longitude                     float64
Type                           object
Depth                         float64
Depth Error                   float64
Depth Seismic Stations        float64
Magnitude                     float64
10 ^ Magnitude                float64
Magnitude Type                 object
Magnitude Error               float64
Magnitude Seismic Stations    float64
Azimuthal Gap                 float64
Horizontal Distance           float64
Horizontal Error              float64
Root Mean Square              float64
ID                             object
Source                         object
Location Source                object
Magnitude Source               object
Status                         object
dtype: object

In [39]:
EarthQuake_df['Datetime'] = EarthQuake_df['Date'].apply(str) + ' ' + EarthQuake_df['Time']
EarthQuake_df['Datetime']

0          1/2/1965 13:44:18
1          1/4/1965 11:29:49
2          1/5/1965 18:05:58
3          1/8/1965 18:49:43
4          1/9/1965 13:32:50
                ...
23407     12/28/2016 8:22:12
23408     12/28/2016 9:13:47
23409    12/28/2016 12:38:51
23410    12/29/2016 22:30:19
23411    12/30/2016 20:08:28
Name: Datetime, Length: 23412, dtype: object

In [48]:
EarthQuake_df[~EarthQuake_df.Datetime.str.contains("T")]

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,10 ^ Magnitude,...,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status,Datetime
0,1/2/1965,13:44:18,19.2460,145.6160,Earthquake,131.60,NaN,NaN,6.0,1.000000e+06,...,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic,1/2/1965 13:44:18
1,1/4/1965,11:29:49,1.8630,127.3520,Earthquake,80.00,NaN,NaN,5.8,6.309573e+05,...,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic,1/4/1965 11:29:49
2,1/5/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,NaN,NaN,6.2,1.584893e+06,...,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic,1/5/1965 18:05:58
3,1/8/1965,18:49:43,-59.0760,-23.5570,Earthquake,15.00,NaN,NaN,5.8,6.309573e+05,...,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic,1/8/1965 18:49:43
4,1/9/1965,13:32:50,11.9380,126.4270,Earthquake,15.00,NaN,NaN,5.8,6.309573e+05,...,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic,1/9/1965 13:32:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,8:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,3.981072e+05,...,42.47,0.120,NaN,0.1898,NN00570710,NN,NN,NN,Reviewed,12/28/2016 8:22:12
23408,12/28/2016,9:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,3.162278e+05,...,48.58,0.129,NaN,0.2187,NN00570744,NN,NN,NN,Reviewed,12/28/2016 9:13:47
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,7.943282e+05,...,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed,12/28/2016 12:38:51
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,1.995262e+06,...,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed,12/29/2016 22:30:19
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,3.162278e+05,...,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed,12/30/2016 20:08:28

In [49]:
Table10 = EarthQuake_df[~EarthQuake_df.Datetime.str.contains("T")]
Table10

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,10 ^ Magnitude,...,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status,Datetime
0,1/2/1965,13:44:18,19.2460,145.6160,Earthquake,131.60,NaN,NaN,6.0,1.000000e+06,...,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic,1/2/1965 13:44:18
1,1/4/1965,11:29:49,1.8630,127.3520,Earthquake,80.00,NaN,NaN,5.8,6.309573e+05,...,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic,1/4/1965 11:29:49
2,1/5/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,NaN,NaN,6.2,1.584893e+06,...,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic,1/5/1965 18:05:58
3,1/8/1965,18:49:43,-59.0760,-23.5570,Earthquake,15.00,NaN,NaN,5.8,6.309573e+05,...,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic,1/8/1965 18:49:43
4,1/9/1965,13:32:50,11.9380,126.4270,Earthquake,15.00,NaN,NaN,5.8,6.309573e+05,...,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic,1/9/1965 13:32:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,8:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,3.981072e+05,...,42.47,0.120,NaN,0.1898,NN00570710,NN,NN,NN,Reviewed,12/28/2016 8:22:12
23408,12/28/2016,9:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,3.162278e+05,...,48.58,0.129,NaN,0.2187,NN00570744,NN,NN,NN,Reviewed,12/28/2016 9:13:47
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,7.943282e+05,...,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed,12/28/2016 12:38:51
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,1.995262e+06,...,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed,12/29/2016 22:30:19
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,3.162278e+05,...,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed,12/30/2016 20:08:28

In [50]:
Table10.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23409 entries, 0 to 23411
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        23409 non-null  object
 1   Time                        23409 non-null  object
 2   Latitude                    23409 non-null  float64
 3   Longitude                   23409 non-null  float64
 4   Type                        23409 non-null  object
 5   Depth                       23409 non-null  float64
 6   Depth Error                 4460 non-null   float64
 7   Depth Seismic Stations      7096 non-null   float64
 8   Magnitude                   23409 non-null  float64
 9   10 ^ Magnitude              23409 non-null  float64
 10  Magnitude Type              23406 non-null  object
 11  Magnitude Error             327 non-null    float64
 12  Magnitude Seismic Stations  2564 non-null   float64
 13  Azimuthal Gap               7298 non-null   float64
 14  Horizontal Distance         1604 non-null   float64
 15  Horizontal Error            1156 non-null   float64
 16  Root Mean Square            17350 non-null  float64
 17  ID                          23409 non-null  object
 18  Source                      23409 non-null  object
 19  Location Source             23409 non-null  object
 20  Magnitude Source            23409 non-null  object
 21  Status                      23409 non-null  object
 22  Datetime                    23409 non-null  object
dtypes: float64(13), object(10)
memory usage: 4.3+ MB

In [52]:
EarthQuake_df['Time'] = pd.to_datetime(EarthQuake_df['Time'],utc=True)
EarthQuake_df['Time']

0       2021-01-11 13:44:18+00:00
1       2021-01-11 11:29:49+00:00
2       2021-01-11 18:05:58+00:00
3       2021-01-11 18:49:43+00:00
4       2021-01-11 13:32:50+00:00
                   ...
23407   2021-01-11 08:22:12+00:00
23408   2021-01-11 09:13:47+00:00
23409   2021-01-11 12:38:51+00:00
23410   2021-01-11 22:30:19+00:00
23411   2021-01-11 20:08:28+00:00
Name: Time, Length: 23410, dtype: datetime64[ns, UTC]

In [54]:
# retrieving rows by loc method  
row2 = EarthQuake_df.iloc[4:250]
row2

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,10 ^ Magnitude,...,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status,Datetime
4,1/9/1965,2021-01-11 13:32:50+00:00,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,6.309573e+05,...,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic,1/9/1965 13:32:50
5,1/10/1965,2021-01-11 13:36:32+00:00,-13.405,166.629,Earthquake,35.0,NaN,NaN,6.7,5.011872e+06,...,NaN,NaN,NaN,NaN,ISCGEM860922,ISCGEM,ISCGEM,ISCGEM,Automatic,1/10/1965 13:36:32
6,1/12/1965,2021-01-11 13:32:25+00:00,27.357,87.867,Earthquake,20.0,NaN,NaN,5.9,7.943282e+05,...,NaN,NaN,NaN,NaN,ISCGEM861007,ISCGEM,ISCGEM,ISCGEM,Automatic,1/12/1965 13:32:25
7,1/15/1965,2021-01-11 23:17:42+00:00,-13.309,166.212,Earthquake,35.0,NaN,NaN,6.0,1.000000e+06,...,NaN,NaN,NaN,NaN,ISCGEM861111,ISCGEM,ISCGEM,ISCGEM,Automatic,1/15/1965 23:17:42
8,1/16/1965,2021-01-11 11:32:37+00:00,-56.452,-27.043,Earthquake,95.0,NaN,NaN,6.0,1.000000e+06,...,NaN,NaN,NaN,NaN,ISCGEMSUP861125,ISCGEMSUP,ISCGEM,ISCGEM,Automatic,1/16/1965 11:32:37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,8/30/1965,2021-01-11 03:32:08+00:00,-16.931,167.454,Earthquake,30.0,NaN,NaN,5.8,6.309573e+05,...,NaN,NaN,NaN,NaN,ISCGEM855027,ISCGEM,ISCGEM,ISCGEM,Automatic,8/30/1965 3:32:08
246,8/30/1965,2021-01-11 18:09:44+00:00,-6.428,104.667,Earthquake,55.0,NaN,NaN,5.7,5.011872e+05,...,NaN,NaN,NaN,NaN,ISCGEMSUP855043,ISCGEMSUP,ISCGEM,ISCGEM,Automatic,8/30/1965 18:09:44
247,9/1/1965,2021-01-11 04:47:33+00:00,-34.596,179.922,Earthquake,100.0,NaN,NaN,5.8,6.309573e+05,...,NaN,NaN,NaN,NaN,ISCGEMSUP853515,ISCGEMSUP,ISCGEM,ISCGEM,Automatic,9/1/1965 4:47:33
248,9/2/1965,2021-01-11 04:26:39+00:00,51.867,175.451,Earthquake,31.0,NaN,NaN,5.5,3.162278e+05,...,NaN,NaN,NaN,NaN,ISCGEM853538,ISCGEM,ISCGEM,ISCGEM,Automatic,9/2/1965 4:26:39
249,9/4/1965,2021-01-11 10:19:51+00:00,46.515,153.387,Earthquake,15.0,NaN,NaN,5.9,7.943282e+05,...,NaN,NaN,NaN,NaN,ISCGEM853601,ISCGEM,ISCGEM,ISCGEM,Automatic,9/4/1965 10:19:51

In [61]:
row3 = row2.sort_values(by='Date', ascending=True)
row3

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,10 ^ Magnitude,...,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status,Datetime,output
5,1/10/1965,2021-01-11 13:36:32+00:00,-13.405,166.629,Earthquake,35.0,NaN,NaN,6.7,5.011872e+06,...,NaN,NaN,NaN,ISCGEM860922,ISCGEM,ISCGEM,ISCGEM,Automatic,1/10/1965 13:36:32,00:03:42
6,1/12/1965,2021-01-11 13:32:25+00:00,27.357,87.867,Earthquake,20.0,NaN,NaN,5.9,7.943282e+05,...,NaN,NaN,NaN,ISCGEM861007,ISCGEM,ISCGEM,ISCGEM,Automatic,1/12/1965 13:32:25,-1 days +23:55:53
7,1/15/1965,2021-01-11 23:17:42+00:00,-13.309,166.212,Earthquake,35.0,NaN,NaN,6.0,1.000000e+06,...,NaN,NaN,NaN,ISCGEM861111,ISCGEM,ISCGEM,ISCGEM,Automatic,1/15/1965 23:17:42,09:45:17
8,1/16/1965,2021-01-11 11:32:37+00:00,-56.452,-27.043,Earthquake,95.0,NaN,NaN,6.0,1.000000e+06,...,NaN,NaN,NaN,ISCGEMSUP861125,ISCGEMSUP,ISCGEM,ISCGEM,Automatic,1/16/1965 11:32:37,-1 days +12:14:55
9,1/17/1965,2021-01-11 10:43:17+00:00,-24.563,178.487,Earthquake,565.0,NaN,NaN,5.8,6.309573e+05,...,NaN,NaN,NaN,ISCGEM861148,ISCGEM,ISCGEM,ISCGEM,Automatic,1/17/1965 10:43:17,-1 days +23:10:40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,8/30/1965,2021-01-11 03:32:08+00:00,-16.931,167.454,Earthquake,30.0,NaN,NaN,5.8,6.309573e+05,...,NaN,NaN,NaN,ISCGEM855027,ISCGEM,ISCGEM,ISCGEM,Automatic,8/30/1965 3:32:08,-1 days +09:10:05
216,8/5/1965,2021-01-11 00:07:52+00:00,-5.213,151.701,Earthquake,60.0,NaN,NaN,6.5,3.162278e+06,...,NaN,NaN,NaN,ISCGEM854347,ISCGEM,ISCGEM,ISCGEM,Automatic,8/5/1965 0:07:52,-1 days +22:05:59
247,9/1/1965,2021-01-11 04:47:33+00:00,-34.596,179.922,Earthquake,100.0,NaN,NaN,5.8,6.309573e+05,...,NaN,NaN,NaN,ISCGEMSUP853515,ISCGEMSUP,ISCGEM,ISCGEM,Automatic,9/1/1965 4:47:33,-1 days +10:37:49
248,9/2/1965,2021-01-11 04:26:39+00:00,51.867,175.451,Earthquake,31.0,NaN,NaN,5.5,3.162278e+05,...,NaN,NaN,NaN,ISCGEM853538,ISCGEM,ISCGEM,ISCGEM,Automatic,9/2/1965 4:26:39,-1 days +23:39:06
249,9/4/1965,2021-01-11 10:19:51+00:00,46.515,153.387,Earthquake,15.0,NaN,NaN,5.9,7.943282e+05,...,NaN,NaN,NaN,ISCGEM853601,ISCGEM,ISCGEM,ISCGEM,Automatic,9/4/1965 10:19:51,05:53:12

In [63]:
row3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 246 entries, 5 to 249
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        246 non-null    object
 1   Time                        246 non-null    datetime64[ns, UTC]
 2   Latitude                    246 non-null    float64
 3   Longitude                   246 non-null    float64
 4   Type                        246 non-null    object
 5   Depth                       246 non-null    float64
 6   Depth Error                 0 non-null      float64
 7   Depth Seismic Stations      0 non-null      float64
 8   Magnitude                   246 non-null    float64
 9   10 ^ Magnitude              246 non-null    float64
 10  Magnitude Type              246 non-null    object
 11  Magnitude Error             0 non-null      float64
 12  Magnitude Seismic Stations  0 non-null      float64
 13  Azimuthal Gap               0 non-null      float64
 14  Horizontal Distance         0 non-null      float64
 15  Horizontal Error            0 non-null      float64
 16  Root Mean Square            0 non-null      float64
 17  ID                          246 non-null    object
 18  Source                      246 non-null    object
 19  Location Source             246 non-null    object
 20  Magnitude Source            246 non-null    object
 21  Status                      246 non-null    object
 22  Datetime                    246 non-null    object
 23  output                      245 non-null    timedelta64[ns]
dtypes: datetime64[ns, UTC](1), float64(13), object(9), timedelta64[ns](1)
memory usage: 48.0+ KB

In [65]:
row3['Date'] = pd.to_datetime(row3['Date'],utc=True)
row3['Date']

5     1965-01-10 00:00:00+00:00
6     1965-01-12 00:00:00+00:00
7     1965-01-15 00:00:00+00:00
8     1965-01-16 00:00:00+00:00
9     1965-01-17 00:00:00+00:00
                 ...
245   1965-08-30 00:00:00+00:00
216   1965-08-05 00:00:00+00:00
247   1965-09-01 00:00:00+00:00
248   1965-09-02 00:00:00+00:00
249   1965-09-04 00:00:00+00:00
Name: Date, Length: 246, dtype: datetime64[ns, UTC]

In [67]:
row3['output']=row3['Date'] -row3['Date'].shift(1)
row3['output']

5          NaT
6       2 days
7       3 days
8       1 days
9       1 days
        ...
245     0 days
216   -25 days
247    27 days
248     1 days
249     2 days
Name: output, Length: 246, dtype: timedelta64[ns]

In [73]:
row3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 246 entries, 5 to 249
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        246 non-null    datetime64[ns, UTC]
 1   Time                        246 non-null    datetime64[ns, UTC]
 2   Latitude                    246 non-null    float64
 3   Longitude                   246 non-null    float64
 4   Type                        246 non-null    object
 5   Depth                       246 non-null    float64
 6   Depth Error                 0 non-null      float64
 7   Depth Seismic Stations      0 non-null      float64
 8   Magnitude                   246 non-null    float64
 9   10 ^ Magnitude              246 non-null    float64
 10  Magnitude Type              246 non-null    object
 11  Magnitude Error             0 non-null      float64
 12  Magnitude Seismic Stations  0 non-null      float64
 13  Azimuthal Gap               0 non-null      float64
 14  Horizontal Distance         0 non-null      float64
 15  Horizontal Error            0 non-null      float64
 16  Root Mean Square            0 non-null      float64
 17  ID                          246 non-null    object
 18  Source                      246 non-null    object
 19  Location Source             246 non-null    object
 20  Magnitude Source            246 non-null    object
 21  Status                      246 non-null    object
 22  Datetime                    246 non-null    object
 23  output                      245 non-null    timedelta64[ns]
dtypes: datetime64[ns, UTC](2), float64(13), object(8), timedelta64[ns](1)
memory usage: 48.0+ KB

In [57]:
row2['output']=row2['Time'] -row2['Time'].shift(1)

C:\Users\User\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [58]:
row2['output']

4                   NaT
5              00:03:42
6     -1 days +23:55:53
7              09:45:17
8     -1 days +12:14:55
             ...
245   -1 days +09:10:05
246            14:37:36
247   -1 days +10:37:49
248   -1 days +23:39:06
249            05:53:12
Name: output, Length: 246, dtype: timedelta64[ns]

In [44]:
EarthQuake_df.drop(EarthQuake_df[EarthQuake_df['Datetime'].apply(lambda x: x.startswith('1975'))].index, inplace=True)

In [46]:
EarthQuake_df.drop(EarthQuake_df[EarthQuake_df['Datetime'].apply(lambda x: x.startswith('1985'))].index, inplace=True)

In [75]:
!pip install natsort

Collecting natsort
  Downloading natsort-7.1.0-py3-none-any.whl (35 kB)
Installing collected packages: natsort
Successfully installed natsort-7.1.0

In [76]:
from natsort import index_natsorted

In [23]:
EarthQuake_df['Date']= pd.to_datetime(EarthQuake_df['Date'],utc=True)

In [25]:
EarthQuake_df[['Date','Time']] = EarthQuake_df[['Date','Time']].apply(pd.to_datetime, utc=True)

In [26]:
EarthQuake_df.dtypes

Date                          datetime64[ns, UTC]
Time                          datetime64[ns, UTC]
Latitude                                  float64
Longitude                                 float64
Type                                       object
Depth                                     float64
Depth Error                               float64
Depth Seismic Stations                    float64
Magnitude                                 float64
10 ^ Magnitude                            float64
Magnitude Type                             object
Magnitude Error                           float64
Magnitude Seismic Stations                float64
Azimuthal Gap                             float64
Horizontal Distance                       float64
Horizontal Error                          float64
Root Mean Square                          float64
ID                                         object
Source                                     object
Location Source                            object
Magnitude Source                           object
Status                                     object
dtype: object

In [28]:
EarthQuake_df['Date'].max()

Timestamp('2016-12-30 00:00:00+0000', tz='UTC')

In [29]:
EarthQuake_df['Date'].min()

Timestamp('1965-01-02 00:00:00+0000', tz='UTC')

First parameter: start= ‘dd/mm/yyyy’.
Second parameter: periods= n, where n is no of periods or date time elements you need.
Third parameter: freq= ‘x’, where ‘x’ can be ‘H’(hour), ‘D’(days), ‘W’(weeks), ‘M’(month), ‘Y’(years), etc.

In [77]:
dataflair = pd.date_range(start='1/1/2011', periods = 10, freq ='H')
dataflair

DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 01:00:00',
               '2011-01-01 02:00:00', '2011-01-01 03:00:00',
               '2011-01-01 04:00:00', '2011-01-01 05:00:00',
               '2011-01-01 06:00:00', '2011-01-01 07:00:00',
               '2011-01-01 08:00:00', '2011-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [78]:
dataflair1 = pd.date_range(start='1/1/2011', periods = 100, freq ='W')
dataflair1

DatetimeIndex(['2011-01-02', '2011-01-09', '2011-01-16', '2011-01-23',
               '2011-01-30', '2011-02-06', '2011-02-13', '2011-02-20',
               '2011-02-27', '2011-03-06', '2011-03-13', '2011-03-20',
               '2011-03-27', '2011-04-03', '2011-04-10', '2011-04-17',
               '2011-04-24', '2011-05-01', '2011-05-08', '2011-05-15',
               '2011-05-22', '2011-05-29', '2011-06-05', '2011-06-12',
               '2011-06-19', '2011-06-26', '2011-07-03', '2011-07-10',
               '2011-07-17', '2011-07-24', '2011-07-31', '2011-08-07',
               '2011-08-14', '2011-08-21', '2011-08-28', '2011-09-04',
               '2011-09-11', '2011-09-18', '2011-09-25', '2011-10-02',
               '2011-10-09', '2011-10-16', '2011-10-23', '2011-10-30',
               '2011-11-06', '2011-11-13', '2011-11-20', '2011-11-27',
               '2011-12-04', '2011-12-11', '2011-12-18', '2011-12-25',
               '2012-01-01', '2012-01-08', '2012-01-15', '2012-01-22',
               '2012-01-29', '2012-02-05', '2012-02-12', '2012-02-19',
               '2012-02-26', '2012-03-04', '2012-03-11', '2012-03-18',
               '2012-03-25', '2012-04-01', '2012-04-08', '2012-04-15',
               '2012-04-22', '2012-04-29', '2012-05-06', '2012-05-13',
               '2012-05-20', '2012-05-27', '2012-06-03', '2012-06-10',
               '2012-06-17', '2012-06-24', '2012-07-01', '2012-07-08',
               '2012-07-15', '2012-07-22', '2012-07-29', '2012-08-05',
               '2012-08-12', '2012-08-19', '2012-08-26', '2012-09-02',
               '2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25'],
              dtype='datetime64[ns]', freq='W-SUN')

In [80]:
dataflair2 = pd.date_range(start='1/1/2011', periods = 100, freq ='M')
dataflair2

DatetimeIndex(['2011-01-31', '2011-02-28', '2011-03-31', '2011-04-30',
               '2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31',
               '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-31',
               '2012-01-31', '2012-02-29', '2012-03-31', '2012-04-30',
               '2012-05-31', '2012-06-30', '2012-07-31', '2012-08-31',
               '2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31',
               '2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30',
               '2013-05-31', '2013-06-30', '2013-07-31', '2013-08-31',
               '2013-09-30', '2013-10-31', '2013-11-30', '2013-12-31',
               '2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30',
               '2014-05-31', '2014-06-30', '2014-07-31', '2014-08-31',
               '2014-09-30', '2014-10-31', '2014-11-30', '2014-12-31',
               '2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30',
               '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31',
               '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31',
               '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31',
               '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31',
               '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
               '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31',
               '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31',
               '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30'],
              dtype='datetime64[ns]', freq='M')

In [84]:
dataflair_rng = pd.DataFrame() 
dataflair_rng['date'] = pd.date_range('1/1/2011', periods = 72, freq ='H')
dataflair_rng[:5]

                 date
0 2011-01-01 00:00:00
1 2011-01-01 01:00:00
2 2011-01-01 02:00:00
3 2011-01-01 03:00:00
4 2011-01-01 04:00:00

In [88]:
dataflair_rng['year'] = dataflair_rng['date'].dt.year #creates ‘year’ column and extracts year 
dataflair_rng['month'] = dataflair_rng['date'].dt.month #creates ‘month’ column and extracts month
dataflair_rng['day'] = dataflair_rng['date'].dt.day #creates ‘day’ column and extracts day
dataflair_rng['hour'] = dataflair_rng['date'].dt.hour #creates ‘hour’ column and extracts 
dataflair_rng['minute'] = dataflair_rng['date'].dt.minute #creates ‘minute’ column and extracts minute
dataflair_rng.head(30)

                  date  year  month  day  hour  minute
0  2011-01-01 00:00:00  2011      1    1     0       0
1  2011-01-01 01:00:00  2011      1    1     1       0
2  2011-01-01 02:00:00  2011      1    1     2       0
3  2011-01-01 03:00:00  2011      1    1     3       0
4  2011-01-01 04:00:00  2011      1    1     4       0
5  2011-01-01 05:00:00  2011      1    1     5       0
6  2011-01-01 06:00:00  2011      1    1     6       0
7  2011-01-01 07:00:00  2011      1    1     7       0
8  2011-01-01 08:00:00  2011      1    1     8       0
9  2011-01-01 09:00:00  2011      1    1     9       0
10 2011-01-01 10:00:00  2011      1    1    10       0
11 2011-01-01 11:00:00  2011      1    1    11       0
12 2011-01-01 12:00:00  2011      1    1    12       0
13 2011-01-01 13:00:00  2011      1    1    13       0
14 2011-01-01 14:00:00  2011      1    1    14       0
15 2011-01-01 15:00:00  2011      1    1    15       0
16 2011-01-01 16:00:00  2011      1    1    16       0
17 2011-01-01 17:00:00  2011      1    1    17       0
18 2011-01-01 18:00:00  2011      1    1    18       0
19 2011-01-01 19:00:00  2011      1    1    19       0
20 2011-01-01 20:00:00  2011      1    1    20       0
21 2011-01-01 21:00:00  2011      1    1    21       0
22 2011-01-01 22:00:00  2011      1    1    22       0
23 2011-01-01 23:00:00  2011      1    1    23       0
24 2011-01-02 00:00:00  2011      1    2     0       0
25 2011-01-02 01:00:00  2011      1    2     1       0
26 2011-01-02 02:00:00  2011      1    2     2       0
27 2011-01-02 03:00:00  2011      1    2     3       0
28 2011-01-02 04:00:00  2011      1    2     4       0
29 2011-01-02 05:00:00  2011      1    2     5       0

In [89]:
dataflair_time = pd.Timestamp.now()
dataflair_time

Timestamp('2021-01-11 20:40:35.968593')

In [91]:
dataflair_time = '2021-01-11 20:40:35.968593'

In [98]:
data = np.array(["2021-01-11 20:40:35.968593"])

In [100]:
dataflair_time = pd.DataFrame (data, columns = ['First Column Name'])
dataflair_time

            First Column Name
0  2021-01-11 20:40:35.968593

In [103]:
dataflair_time['First Column Name']= pd.to_datetime(dataflair_time['First Column Name'],utc=True)

In [104]:
dataflair_time['year'] = dataflair_time['First Column Name'].dt.year #creates ‘year’ column and extracts year 
dataflair_time['month'] = dataflair_time['First Column Name'].dt.month #creates ‘month’ column and extracts month
dataflair_time['day'] = dataflair_time['First Column Name'].dt.day #creates ‘day’ column and extracts day
dataflair_time['hour'] = dataflair_time['First Column Name'].dt.hour #creates ‘hour’ column and extracts 
dataflair_time['minute'] = dataflair_time['First Column Name'].dt.minute #creates ‘minute’ column and extracts minute
dataflair_time

                 First Column Name  year  month  day  hour  minute
0 2021-01-11 20:40:35.968593+00:00  2021      1   11    20      40

In [2]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np

In [6]:
#business days.
dates=pd.date_range(start='1/1/2018', periods=784, freq='B') # generating date time range no weekends
print(f'How long is my data: {len(dates)}')

How long is my data: 784

In [7]:
dates

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-08', '2018-01-09', '2018-01-10',
               '2018-01-11', '2018-01-12',
               ...
               '2020-12-18', '2020-12-21', '2020-12-22', '2020-12-23',
               '2020-12-24', '2020-12-25', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', length=784, freq='B')

In [18]:
year = dates.strftime("%m/%d/%Y")
year

Index(['01/01/2018', '01/02/2018', '01/03/2018', '01/04/2018', '01/05/2018',
       '01/08/2018', '01/09/2018', '01/10/2018', '01/11/2018', '01/12/2018',
       ...
       '12/18/2020', '12/21/2020', '12/22/2020', '12/23/2020', '12/24/2020',
       '12/25/2020', '12/28/2020', '12/29/2020', '12/30/2020', '12/31/2020'],
      dtype='object', length=784)

In [8]:
cities=pd.read_csv('C:/Users/User/bootcamp_files/WorldCities.csv')
cities.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6850,139.7514,Japan,JP,JPN,Tōkyō,primary,35676000.0,1392685764
1,New York,New York,40.6943,-73.9249,United States,US,USA,New York,NaN,19354922.0,1840034016
2,Mexico City,Mexico City,19.4424,-99.1310,Mexico,MX,MEX,Ciudad de México,primary,19028000.0,1484247881
3,Mumbai,Mumbai,19.0170,72.8570,India,IN,IND,Mahārāshtra,admin,18978000.0,1356226629
4,São Paulo,Sao Paulo,-23.5587,-46.6250,Brazil,BR,BRA,São Paulo,admin,18845000.0,1076532519

In [9]:
date = [] 
country =[]
city = []
lat = []
lng = []
product_type = []
product = []
qty = []
price = []
price_wd = []
discount = []

In [41]:
regions=['United States','Mexico','Canada']
product_types=['P&C','Benefits']
products=['A','B','C']
discount=[True,False]
price_A=np.random.normal(loc=1000,scale=0.5,size=100)
price_B=np.random.normal(loc=1200,scale=1,size=100)
price_C=np.random.normal(loc=1500,scale=2,size=100)

In [11]:
def pickItem(list_items):
    return random.choice(list_items)

In [14]:
city_c=cities[['country','city','lat','lng']].sample()
city_c

             country          city      lat       lng
11711  United States  Garden Acres  37.9637 -121.2296

In [25]:
import random

In [27]:
['date'].append((pickItem(dates))) 
['country'].append(city_c.iloc[0,0])
['city'].append(city_c.iloc[0,1])
['lat'].append(city_c.iloc[0,2])
['lng'].append(city_c.iloc[0,3])
['product_type'].append(pickItem(product_types))
['qty'].append(random.randint(1,10))
random.choice(numberList)

In [45]:
products

['A', 'B', 'C']

In [46]:
price_A

array([ 998.86804127, 1000.4810763 , 1000.43971929, 1001.11989721,
       1000.42099841, 1000.70080106,  999.87279694, 1000.71301615,
       1001.45397146, 1000.35323517,  999.84557384,  999.5047885 ,
       1001.35247203,  999.49720125,  999.65319651,  999.74235706,
        999.8305148 , 1000.0066682 ,  999.62863705,  999.98429024,
       1000.15950804, 1001.02955611,  999.85587334,  999.47626   ,
        999.67266881, 1000.40967566, 1000.3266742 ,  999.86508539,
       1000.17415057,  999.37463481,  999.86823796,  998.88952359,
        999.4740547 ,  999.8419687 , 1000.31271701, 1000.2816684 ,
       1000.18203313,  999.37595171,  999.34584066, 1000.38240265,
       1000.01375431, 1000.42401949,  999.38296382, 1000.6413478 ,
        998.66873291, 1000.0405332 ,  999.10563722,  999.855637  ,
        999.95097747, 1000.27529961,  999.99325065,  999.04338755,
        999.60617587,  999.47472357, 1000.52616535,  999.88210675,
        999.593792  ,  999.80303179,  999.84046738,  999.79025242,
       1000.410583  ,  998.88246202, 1000.02711458,  999.73811471,
       1000.5480505 , 1000.02571946, 1000.57677205, 1000.24929358,
        999.14951608, 1000.04524473, 1001.34124483,  999.54321488,
        999.79060614, 1000.04313573, 1000.91320961, 1000.396041  ,
        999.89867433, 1000.43697855,  999.08065066, 1000.43655681,
       1000.28169306,  999.35513744, 1000.96631673,  999.82097621,
       1000.32560424, 1000.65579378, 1000.36552431,  999.72652111,
        999.66523212, 1000.04702536, 1000.08492946,  999.74466697,
       1000.21312946,  999.88845775, 1000.01994538, 1000.53788468,
       1000.13322615, 1000.02732182, 1000.74314494, 1001.50857826])

In [58]:
product_choice = random.choice(products)

In [59]:
product_choice

'A'

In [60]:
if product_choice =='A':
    ['price'].append(round(random.choice(price_A),2))
elif product_choice =='B':
    ['price'].append(round(random.choice(price_B),2))
else:
    ['price'].append(round(random.choice(price_C),2))

In [61]:
price

[]

In [50]:
discount_choice=random.choice(discount)
discount_choice

True

In [44]:
discount_choice=random.choice(discount)
     if discount_choice==True:
            ['discount'].append(True)
            ['price_wd'].append(.95)
        else:
            sales['discount'].append(False)
            sales['price_wd'].append(1)

'United States'

In [ ]:
discount_choice=random.choice(discount)
     if discount_choice==True:
            ['discount'].append(True)
            ['price_wd'].append(.95)
        else:
            sales['discount'].append(False)
            sales['price_wd'].append(1)

In [64]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np

In [65]:
bank=pd.read_csv('C:/Users/User/bootcamp_files/py_bank.csv')
bank.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [69]:
bank['Change'] = bank['Profit/Losses']  - bank['Profit/Losses'].shift(1)

In [70]:
bank['Change']

0          NaN
1     116771.0
2    -662642.0
3    -391430.0
4     379920.0
        ...
81   -665765.0
82    693229.0
83   -734926.0
84     77242.0
85    532869.0
Name: Change, Length: 86, dtype: float64